.footer-top, .footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--purple);
    color: var(--ash);
    padding: 3rem 8rem;
}
.contact-box>div{
 display: flex;
 justify-content: left;
 align-items: center;
 margin-bottom: 0.8rem;
}
.contact-box>div>div{
    margin-right: 0.8rem;
}
.footer-header{
    margin-bottom: 1.2rem;
}
.footer-logo{
    margin-bottom: 0.8rem;
}
.footer-nav{
    display: flex;
}
.footer-nav-left{
    margin-right: 6rem;
}
.footer-nav>ul>li{
    list-style-type: none;
    margin-bottom: 0.8rem;
}
.footer-nav>ul>li>a{
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--ash);
}
.footer-bottom{
    background: var(--lightPurple);
}
.footer-bottom>div{
    display: flex;
}
.change-language>div{
    margin-right: 0.6rem;
}
.socials>div{
    margin-left: 1.6rem;
}

@media (max-width: 768px){
    .footer-top, .footer-bottom{
        display: block;
        padding: 2rem;
    }
    br{
        display: none;
    }
    .contact-box{
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    .footer-logo>img{
        width: 18rem;
    }
    .footer-bottom{
        text-align: left;
        margin-bottom: 1rem;
    }
    .footer-bottom>div{
        display: flex;
    }
    .change-language{
        margin: 2rem auto;
    }
    .socials{
        display: flex;
        justify-content: space-between;
        width: 60%;
    }
    .socials>div{
        margin-left: 0;
    }
    .socials>div>img{
        width: 3rem;
    }
    
}